# Personal Lynx settings used by the Neovim integration.
VI_KEYS_ALWAYS_ON:TRUE
EMACS_KEYS_ALWAYS_ON:FALSE
USE_MOUSE:TRUE
CHARACTER_SET:UTF-8
ASSUME_CHARSET:UTF-8
ASSUME_LOCAL_CHARSET:UTF-8
COLOR_STYLE:Downloads/Lynx/lynx-nvim.lss
NESTED_TABLES:TRUE
DEFAULT_COLORS:TRUE
PRETTYSRC:TRUE
PERSISTENT_COOKIES:TRUE
COOKIE_FILE:~/.config/lynx/cookies
SET_COOKIES:TRUE
ACCEPT_ALL_COOKIES:FALSE
SOURCE_CACHE:MEMORY
HISTORY:100
SAVE_SPACE:~/Downloads/lynx/
DEFAULT_EDITOR:nvim
HTTP_PROTOCOL:1.1
PREFERRED_LANGUAGE:en-us
PREFERRED_CHARSET:utf-8
SHORT_URL:TRUE
DEFAULT_INDEX_FILE:https://duckduckgo.com/html/
STARTFILE:https://duckduckgo.com/html/

# PDF Viewer integration
VIEWER:application/pdf:python3 Downloads/Lynx/pdf_viewer.py %s:NON_XWINDOWS
VIEWER:application/pdf:python Downloads/Lynx/pdf_viewer.py %s:NON_XWINDOWS
